<div class="post-create container">
  <pre>{{ post | json }}</pre>
  <div class="post-create__header">
    <h3 class="post-create__header--title">Create new post</h3>
  </div>
  <div class="post-create__form">
    <mat-form-field>
      <input [(ngModel)]="post.title" matInput placeholder="Title">
    </mat-form-field>
  
    <mat-form-field>
      <textarea [(ngModel)]="post.content" matInput placeholder="Content"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <input  type="number" [(ngModel)]="post.lat" matInput placeholder="Lat">
    </mat-form-field>
  
    <mat-form-field>
      <input type="number" [(ngModel)]="post.long" matInput placeholder="Long">
    </mat-form-field>
  
    <mat-form-field>
      <input [(ngModel)]="post.image_url" matInput placeholder="Image link">
    </mat-form-field>
  </div>
  <div class="post-create__footer">
    <button mat-button (click)="closeModal()">Close</button>  
    <button mat-button (click)="createPost()">Create</button>  
  </div>
</div>