<div class="menu menu__actions">
  <button mat-button (click)="openDialogCreate()">Create</button>
</div>
<div class="posts">
  <div class="posts__item item" *ngFor="let post of posts">
    <div class="item__card">
      <div class="item__card--header">
        <h2 class="item__card--header__title">
          <a routerLink="/post/{{post.id}}/detail">{{ post.title }}</a>
        </h2>
      </div>
      <div class="item__card--media">
        <img class="item__card--media__image" src="{{ post.image_url }}" alt="{{ post.title }}">
      </div>
      <div class="item__card--content">
        <p> {{ post.content }} </p>
      </div>
      <div class="item__card--actions">
        <button mat-mini-fab (click)="openDialogUpdateMarker({ lat: post.lat, long: post.long })">
            <i class="material-icons" aria-label="Update latitude & longitude">room</i>
        </button>
        <button mat-mini-fab (click)="openDialogRemove(post.id)">
            <i class="material-icons" aria-label="Remove post">delete</i>
        </button>
      </div>
    </div>
  </div> 
</div>