<div *ngIf="post" class="post single-page">
  <div class="post__actions">
    <button class="post__actions--switch" mat-button (click)="switchToEdit()">
      <span *ngIf="!editPostFlag">Edit post</span>
      <span *ngIf="editPostFlag">Show post</span>
    </button>
  </div>
  <div *ngIf="!editPostFlag" class="post__detail">
    <div class="post__detail--header">
        <h1 class="post__detail--header__title">{{ post.title }}</h1>
    </div>
    <div class="post__detail--media">
        <img class="post__detail--media__image" src="{{ post.image_url }}" alt="{{ post.title }}">        
    </div>
    <div class="post__detail--content">
      <p> {{ post.content }}</p>
    </div>
    <div class="post__detail--location">
      <agm-map [latitude]="post.lat" [longitude]="post.long">
        <agm-marker [latitude]="post.lat" [longitude]="post.long"></agm-marker>
      </agm-map>
    </div>
  </div>
  <app-post-update *ngIf="editPostFlag" [post]="post" class="post__update" (isUpdated)="isUpdated($event)"></app-post-update>
</div>